<div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
    <h1>Sign up!</h1>
    <form method="post" action="/account/signup">
        <input type="text" class="form-control" name="name" placeholder="Your Name..." />
        <br />
        <input type="text" class="form-control" name="email" placeholder="Email" id="email" />
        <br />
        <input type="password" class="form-control password" name="password" placeholder="Password" />
        <br />
        <div class="form-check">
            <input type="checkbox" class="form-check-input show-password" id="show-password" value="true">
            <label class="form-check-label" for="show-password">Show Password</label>
        </div>
        <button class="btn btn-primary w-100 btn-lg">Sign up!</button>
    </form>
</div>